Source: turnkey-pylib
Section: python
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.11~),
 python3-setuptools,
 dh-python,
X-Python3-Version: >= 3.11
Standards-Version: 4.0.0

Package: turnkey-pylib
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: TurnKey GNU/Linux standard Python library
